.comments {
  margin-top: 25px;
}

.comments button {
  background-color: #B69C22;
}

.comments button:hover {
  background-color: #E9CF55;
}

.comment {
  padding: 1rem;
  border: 1px solid #ccc;
  border-bottom: none;
}

.comment:first-of-type {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.comment:last-child {
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.comment:nth-child(even) {
  background-color: #f9f9f9;
}